.Public_Affairs {background-color: hsl(0,0%, 80%);}
.Satire {background-color: hsl(180,75%,75%);}
.1950_s_R_&_B {background-color: hsl(90,75%,40%);}
.Euro_Pop {background-color: hsl(60,75%,40%);}
.Community_Action {background-color: hsl(0,0%, 80%);}
.Folk {background-color: hsl(150,75%,75%);}
.Franco_Acadian {background-color: hsl(120,75%,75%);}
.Gospel_Classical {background-color: hsl(90,75%,40%);}
.All_Things_Dylan {background-color: hsl(150,75%,75%);}
.Eclectic {background-color: hsl(210,75%,75%);}
.Electronica_Spoken_Word {background-color: hsl(180,75%,75%);}
.Law {background-color: hsl(0,0%, 80%);}
.Indie_Rock {background-color: hsl(60,75%,40%);}
.Americana {background-color: hsl(150,75%,75%);}
.Jazz {background-color: hsl(240,75%,75%);}
.World_Latin {background-color: hsl(120,75%,75%);}
.Country {background-color: hsl(280,75%,75%);}
.Politics_and_Economics {background-color: hsl(0,0%, 80%);}
.Children_s_Programming {background-color: hsl(310,75%,75%);}
.Celtic_Folk {background-color: hsl(120,75%,75%);}
.Blues {background-color: hsl(90,75%,40%);}
.Reggae {background-color: hsl(120,75%,75%);}
.Rock {background-color: hsl(60,75%,40%);}
.Fresh_&_Eclectic {background-color: hsl(210,75%,75%);}
.Radio_Drama_Eclectic_Music {background-color: hsl(210,75%,75%);}
.Roots {background-color: hsl(90,75%,40%);}
.Soul_R&B {background-color: hsl(90,75%,40%);}
.Bluegrass {background-color: hsl(150,75%,75%);}
.Celtic {background-color: hsl(120,75%,75%);}
.Heavy_Metal {background-color: hsl(60,75%,40%);}
.1960_s_Rock {background-color: hsl(60,75%,40%);}
.blues {background-color: hsl(90,75%,40%);}
.Punk_and_Surf {background-color: hsl(210,75%,75%);}
.Electronica {background-color: hsl(210,75%,75%);}
.Psychedelic {background-color: hsl(210,75%,75%);}
.Grassroots_News_and_Cultural_Stories {background-color: hsl(0,0%, 80%);}
.Jam_Band {background-color: hsl(280,75%,75%);}
.Latin_Zydeco_Delta_Blues {background-color: hsl(90,75%,40%);}
.World_Fusion {background-color: hsl(120,75%,75%);}
.Rock_Eclectic {background-color: hsl(60,75%,40%);}
.World {background-color: hsl(120,75%,75%);}
.Eclectic___Spoken_Word_-_by_Women {background-color: hsl(180,75%,75%);}
.Music_Satire {background-color: hsl(180,75%,75%);}
.Modern_Rock {background-color: hsl(60,75%,40%);}
.Electronica_Hip_Hop {background-color: hsl(210,75%,75%);}
.Philosophy {background-color: hsl(180,75%,75%);}
.News {background-color: hsl(0,0%, 80%);}
.New_Age_Music {background-color: hsl(210,75%,75%);}
.New_Age_Indigenous_Spoken-Word {background-color: hsl(0,0%, 80%);}
.Local_Public_Affairs {background-color: hsl(0,0%, 80%);}
.Rotating_Genre {background-color: hsl(60,75%,40%);}
.Soul {background-color: hsl(90,75%,40%);}
